<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор стоимости услуг</title>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Калькулятор стоимости услуг</h1>
    <form action="/calculate" method="POST">
        <label for="services">Выберите интересующую услугу:</label>
        <br>
        <select id="services" name="services">
            <option value="1">Оптимизация сайта</option>
            <option value="2">SMM </option>
            <option value="3">Управление репутацией </option>
            <option value="4">Таргетированная реклама </option>
            <option value="5">Медийная реклама </option>
            <option value="6">Контекстная реклама </option>
        </select>
        <br>
        <br>
        <label for="duration">На какой срок рассматриваете данную услугу, мес:</label>
        <br>
        <br>
        <input type="number" id="duration"  name="duration" min="1" max="100" required placeholder="Введите срок в месяцах">
        <br>
        <br>
        <label for="profit">Желаемое увеличение прибыли компании, руб:</label>
        <br>
        <br>
        <input type="number" id="profit" name="profit" min="1" max="10000000" required placeholder="Введите желаемое увеличение прибыли">
        <br>
        <br>
        <label for="competition">Как оцениваете уровень конкуренции Вашей сферы?</label>
        <br>
        <br>
        <input type="checkbox" id="high" name="competition" value="300" onclick="handleCheckboxSelection('competition', this)">
        <label for="high">Высокий</label>
        <br>
        <br>
        <input type="checkbox" id="medium" name="competition" value="200" onclick="handleCheckboxSelection('competition', this)">
        <label for="medium">Средний</label>
        <br>
        <br>
        <input type="checkbox" id="low" name="competition" value="100" onclick="handleCheckboxSelection('competition', this)">
        <label for="low">Низкий</label>
        <br>
        <br>
        <input type="checkbox" id="unknown" name="competition" value="0" onclick="handleCheckboxSelection('competition', this)">
        <label for="unknown">Не знаю</label>
        <br>
        <br>
        <label for="employee">Есть штатный специалист в компании?</label>
        <br>
        <br>
        <input type="checkbox" id="yes" name="employee_answer" value="yes" onclick="handleCheckboxSelection('employee_answer', this)">
        <label for="yes">Да</label>
        <input type="checkbox" id="no" name="employee_answer" value="no" onclick="handleCheckboxSelection('employee_answer', this)">
        <label for="no">Нет</label>
        <br>
        <br>
        <label for="new_client">Обращаетесь к нам впервые?</label>
        <br>
        <br>
        <input type="checkbox" id="new_client" name="client_status" value="new" onclick="handleCheckboxSelection('client_status', this)">
        <label for="new_client">Да, я новый клиент</label>
        <input type="checkbox" id="returning_client" name="client_status" value="returning" onclick="handleCheckboxSelection('client_status', this)">
        <label for="returning_client">Нет, я не новый клиент</label>

        <script>
          function handleCheckboxSelection(name, currentCheckbox) {
            const checkboxes = document.getElementsByName(name);
            checkboxes.forEach((checkbox) => {
              if (checkbox !== currentCheckbox) {
                checkbox.checked = false;
              }
            });
          }
        </script>
        <br>
        <br>
        <input type="reset" value="Очистить">
        <input type="submit" value="Рассчитать стоимость">
        </form>
</body>
</html>