
<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор стоимости услуг</title>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<h1 class="calculator-title">AMDG</h1>
<h3>Калькулятор стоимости услуг</h3>
<div class="container">
    <h4 class="header-wrapper">Заполните поля</h4>
    <form id="calculation-form" action="/calculate" method="POST" class="calculate">
        <label for="services">Услуга <span class="red-asterisk">*</span></label><br>
        <select id="services" name="services" required class="Eror">
            <option value="" disabled selected hidden>Выберете интересующую Вас услугу</option>
            <option value="1">Оптимизация сайта</option>
            <option value="2">SMM</option>
            <option value="3">Управление репутацией</option>
            <option value="4">Таргетированная реклама</option>
            <option value="5">Медийная реклама</option>
            <option value="6">Контекстная реклама</option>
        </select><br>
        <label for="duration">На какой срок рассматриваете данную услугу, мес. <span class="red-asterisk">*</span></label>
        <br>
        <input type="number" id="duration" name="duration" min="1" max="100" required placeholder="Введите срок в месяцах">
        <br>
        <label for="competition">Как оцениваете уровень конкуренции Вашей сферы <span class="red-asterisk">*</span></label>
        <br>
        <input type="radio" id="high" name="competition" value="высокий" required>
        <label for="high">высокий</label>
        <br>
        <input type="radio" id="medium" name="competition" value="средний" required>
        <label for="medium">средний</label>
        <br>
        <input type="radio" id="low" name="competition" value="низкий" required>
        <label for="low">низкий</label>
        <br>
        <input type="radio" id="unknown" name="competition" value="не знаю" required>
        <label for="unknown">не знаю</label>
        <br><br>
        <label for="advertising-report">Насколько часто вы хотите получать отчёт по интернет-рекламе? <span class="red-asterisk">*</span></label>
        <br>
        <input type="radio" id="daily" name="advertising-report" value="ежедневно" onclick="handleCheckboxSelection('advertising-report', this)" required>
        <label for="daily">ежедневно</label><br>
        <input type="radio" id="weekly" name="advertising-report" value="еженедельно" onclick="handleCheckboxSelection('advertising-report', this)" required>
        <label for="weekly">еженедельно</label><br>
        <input type="radio" id="monthly" name="advertising-report" value="ежемесячно" onclick="handleCheckboxSelection('advertising-report', this)" required>
        <label for="monthly">ежемесячно</label><br><br>
        <label for="employee">Есть штатный специалист в компании? <span class="red-asterisk">*</span></label><br>
        <input type="radio" id="yes" name="employee_answer" value="да" onclick="handleCheckboxSelection('employee_answer', this)" required>
        <label for="yes">да</label><br>
        <input type="radio" id="no" name="employee_answer" value="нет" onclick="handleCheckboxSelection('employee_answer', this)" required>
        <label for="no">нет</label>
        <br><br>
        <label for="new_client">Обращаетесь к нам впервые? <span class="red-asterisk">*</span></label><br>
        <input type="radio" id="new_client" name="client_status" value="да" onclick="handleCheckboxSelection('client_status', this)" required>
        <label for="new_client">да</label><br>
        <input type="radio" id="returning_client" name="client_status" value="нет" onclick="handleCheckboxSelection('client_status', this)" required>
        <label for="returning_client">нет</label><br><br>
        <h4 class="header-wrapper">Оставьте, пожалуйста, контактные данные. В ближайшее время с Вами свяжеться наш менеджер:</h4>
        <br>
        <label for="fullname">Ваше ФИО <span class="red-asterisk">*</span></label>
        <input type="text" id="fullname" name="fullname" required minlength="15" maxlength="40" placeholder="Введите ФИО">
        <label for="phone">Ваш телефон <span class="red-asterisk">*</span></label>
        <input type="number" id="phone" name="phone" minlength="9" maxlength="12" required placeholder="+375(__)___-__-__">
        <label for="email">Ваш email <span class="red-asterisk">*</span></label>
        <input type="text" id="email" name="email" minlength="6" required placeholder="Электронная почта">
        <input type="reset" value="Очистить">
        <input type="submit" value="Рассчитать стоимость">
        {% if result_html %}
    {{ result_html|safe }}
{% endif %}
    </form>
</div>
</body>
</html>