
body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210115/pngtree-technological-futuristic-background-image_519974.jpg');
  background-size: cover;
  background-position: center;
}

/* стили для заголовка */
h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 32px;
  color: #ffffff;
}

/* стили для цены */
p {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  animation-name: color-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* анимация для изменения цвета */
@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}
