
body {
  background-image: url('https://sun9-57.userapi.com/impg/yJlc3oJCXfg4R9nhJvN5ARzrsmfieCnPanNBnQ/aPdhaFWzfb0.jpg?size=1000x563&quality=96&sign=49f5ebfb9a3e84458da969fa86d278df&type=album');
  background-size: cover;
  background-position: center;
}

/* стили для заголовка */
h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 32px;
  color: #808080;
}

/* стили для цены */
p {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  animation-name: color-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* анимация для изменения цвета */
@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}
