@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Siddham&family=Oswald:wght@700&display=swap');


body {
  background-image: url("/static/background.jpg");
  background-size: cover;
}

.red-asterisk {
  color: #e00c3c;
}

.calculator-title {
  font-size: 32px;
  text-align: center;
  color: #fff;
  background-color: #e00c3c;
  padding: 2px;
}

.calculate {
  background: #fff  ;
  font-family: 'Roboto', Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #7a7a7a;
}

h3 {
  text-align: center;
  margin: 20px 0;
  font-size: 22px;
  color: #333;
  font-weight: normal;
}

.header-wrapper {
  max-width: 643px;
  color: #fff;
  background-color: #e00c3c;
  margin: 0 auto;
  font-size: 18.5px;
  text-align: center;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

select option {
  background-color: #fff;
  color: #333;
}

input[type="number"]:invalid:focus,
input[type="text"]:invalid:focus,
select:invalid:focus {
  background-color: #e00c3c;
  color: #fff;
}

input[type="number"]:invalid:focus::placeholder,
input[type="text"]:invalid:focus::placeholder,
select:invalid:focus::placeholder {
  color: #fff;
}

input[type="number"]:valid:active 
input[type="text"]:valid:active   {
  background-color: #fff;
  color: #333;
}

input[type="radio"]:required:invalid:focus {
  outline: 1px solid #e00c3c;
}

input[type="radio"] {
  transform: scale(1.5)
}
input[type="radio"]:required:invalid:active {
  outline: none;
}

input[type="reset"],
input[type="submit"] {
  background-color: #7a7a7a;
  color: #fff;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  border: 1px solid;
}

input[type="reset"] + input[type="submit"] {
  margin-top: 10px;
}

.popup-overlay {
  font-family: 'Oswald', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.Eror:invalid{
color: #7a7a7a;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

#result-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  font-size: 21px;
  max-width: 500px;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px #333;
  border: 2px solid #e00c3c;
  border-radius: 10px;
}

.popup-close {
  padding: 12px 24px;
  background-color: #e00c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.popup-close:focus {
  outline: none;
}

.popup-close:hover {
  background-color: #e00c3c;
}

.text {
  font-size: 13px;
  margin-bottom: 20px;
  color: #333;
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}