@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* Общие стили */

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://sun9-57.userapi.com/impg/yJlc3oJCXfg4R9nhJvN5ARzrsmfieCnPanNBnQ/aPdhaFWzfb0.jpg?size=1000x563&quality=96&sign=49f5ebfb9a3e84458da969fa86d278df&type=album');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 32px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #808080;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffffff;
}

input[type="number"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #96007d;
}

input[type="reset"],
input[type="submit"] {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7;
  color: #333;
  font-size: 18px;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="reset"] {
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #ee57aa;
}

/* Анимации для чекбоксов */

input[type="checkbox"]+label {
  display: inline-block;
  margin-right: 37px;
}

input[type="checkbox"]:checked+label::before {
  content: "\2713";
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  color: #3dcaff;
}

/* Анимации */

input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  border: 2px solid #ccc;
  border-radius: 2px;
  transition: all 0.2s ease;
  position: relative;
  top: 2px;
}

input[type="checkbox"]:hover+label::before {
  border-color: #ee57aa;
}

input[type="checkbox"]:checked+label::before {
  background-color: #e40303;
  border-color: #e40303;
}

/* Медиа-запросы */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  form {
    width: 90%;
    margin: 0 auto;
  }

  input[type="number"] {
    width: 60%;
    margin-bottom: 10px;
    }

    label {
    font-size: 14px;
    }

    select {
    font-size: 12px;
    }

    input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    }

    #services {
    width: 100%;
    }

    input[type="checkbox"]{
    margin-right: 5px;
    }

    input[type="checkbox"] + label{
    font-size: 12px;
    }
    }
    input[type="checkbox"]{
    opacity: 0;
    }