{% extends 'Blog/panel.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/text.css' %}">
{% endblock %}
{% block content %}
  <h1>Приветствую вас друзья!</h1>
<div>
  <p>Вы когда-нибудь задавались вопросом, Как многое может рассказать лицо совершенно незнакомого человека? Может<br>
  рассказать почти всё! О мировоззрение, характере, темпераменте и конечно же об развитии характера. Я лично считаю,<br>
  что знания физиогномики накапливается в нас годами, поколениями, однако мы забыли о них, но наше подсознания, <br>
  рефлексы и интуиция напоминают нам забытое, реагируя на те или иные черты нашего собеседника, от чего мы <br>
  ощущаем отторжение, либо тягу к этому человеку.</p><br>
  <p>У вас бывало такое, что к вам обращается человек или просто направляется в вашу сторону, а вы словно интуитивно, <br>
  инстинктивно ощущаете, что данный человек опасен, не внушает доверия или просто отталкивает? Обращайте внимание на <br>
  определенные черты лица после чего А порой и на оборот, человек нас привлекает, вызывает доверие, спокойствие, <br>
  заряжает положительной энергетикой, возможно, наше подсознание знает то, чего мы не понимаем или пытается поддать нам <br>
  знак, что стоит не терять бдительность или вовсе покинуть столь не приятную компанию? И на оборот говорит нам, что <br>
  человек не представляет никакой опасности и даёт нам "зелёный цвет".</p>
  <p>Давайте разберёмся вместе!</p>
</div>
<p>Уверен вы встречали в своей жизни людей, которых вы не знайте и даже толком не общайтесь, но вы уже ощущали интуитивно,<br>
что данный человек вам не товарищ, что общение с ним не принесёт вам никакого удовольствия и даже пытались избегать,<br>
но что в этом человеке было такое, что заставляло вас так на него реагировать? Многие не могут этого объяснить и<br>
говорят "Я просто чувствую это" и действительно существуют типы личности, которые имеют благодаря определённым чертам<br>
способность притягивать людей, а есть напротив личности, которые отталкивают от себя людей и крайне трудно идут на<br>
диалог и я с вами хочу раскрыть эту тайну личности вместе с вами друзья, но сперва нам нужно немного узнать о<br>
физиогномике, что это такое и как она влияет на нас.</p>
<p>Физиогномика имеет отношения и к астрологии, а именно физиогномика так же рассказывает о планетах, которые с момента<br>
рождения награждают человека своими положительными, так и отрицательными качествами, однако следует отметить, что<br>
негативные особенности характера можно устранить при помощи духовного развития и конечно же работой над собой.</p>
<p>В Физиогномике разделяются 5 основных типов лица о которых я с вами сегодня хотел бы познакомить:</p>
<ol>
  <li>Круглая форма лица</li>
  <li>Овальная форма лица</li>
  <li>Квадратная форма лица</li>
  <li>Треугольная форма лица</li>
  <li>И наконец Конусообразная форма лица</li>
</ol>
<p>Предлагаю рассмотреть каждый тип лица по отдельности, а сегодня мы лишь немного познакомились с физиогномикой и <br>
  надеюсь узнали много интересного. Оставайтесь с нами и узнайте, и вскоре узнайте о том, какие люди имеют <br>
  предпринимательскую жилку, а какие занимают высокие должности, кто имеет огромный успех в шоу бизнесе и конечно, <br>
  какие люди способны создать крепкую семью.</p>
<p>Спасибо за внимание, делитесь своим мнением в комментариях и оставайтесь с нами!</p>
{% endblock %}