{% extends 'hello/panel.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/Hello.css' %}">
{% endblock %}
{% block content %}
<div class="center">
<h1>Добро пожаловать!</h1>
<p>Мы создали этот блог, чтобы познакомить вас с увлекательным миром психодиагностики и другими методами анализа личности.<br>
    Оставаясь с нами, вы лучше научитесь понимать себя и других.<br>
<p>В начале мы вас познакомим с такими методами как:</p>
<p>1. Физиогномика. Она поможет узнать о характере, темпераменте и даже о корыстности человека лишь посмотрев<br>
      на его лицо. Расскажет о достоинствах и недостатках, духовных, личностных качествах человека.<br>
    2.Графология. С помощью анализа почерка графология помогает выявить уверенного и застенчивого человека,<br>
      открытого и предпочитающего одиночество, талантливого, агрессивного, доброго и множество других характеристик<br>
      раскрывающих личность.</p>
<p>Об этих и о многих других интересных вещах мы хотим вам рассказать. Эти знания помогут во многих сферах жизни,<br>
    например в построении отношений и профессиональной деятельности. Не исключено, что вы приобретёте для себя<br>
    интересное хобби или, как и мы увлечетесь этим всерьёз и надолго)</p>
<p>Присоединяйтесь к нашему блогу и надеемся, что вам у нас понравится!</p>
 </div>
{% endblock %}
