{% extends 'Blog/panel.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/text.css' %}">
{% endblock %}
{% block content %}
<div class="text-frame">
<h1>Приветствую вас, друзья!</h1>
	<p>Сегодня я хочу с вами поговорить об образах героев мультфильмов, фильмов, сериалов и даже игр!</p>
    <img src="{% static 'svg/Marwan-Kenzari-to-play-Jafar-in-Aladdin.svg' %}" alt="Jafar" class="left">
	<p>Вы задумывались, почему при создании образов злодеев в фильмах, играх и даже мультфильмах (особенно в этом преуспевает студия Disney), <br>
        делают акцент на форме лица и отдельных черт, например: герой мультфильма (фильма) "Аладдин" - Джафар (колдун) обладает ярко выраженным лицом <br>
        треугольной формы и острым подбородком, показывая персонажа лживым, коварным, жадным и такие герои действительно запоминаются и зритель, наблюдая <br>
        за действиями антагониста (злодея) верят в его роль. Данный образ и черты лица придают убедительности.</p>
    <img src="{% static 'svg/1488460208196567604.svg' %}" alt="Goston" class="right">
	<p>Возьмём ещё одного антагониста из мультфильма "Красавица и чудовище", а именно рассмотрим Гастона - героя города,<br>
        персонажа с ярко выраженными чертами лица таким как: большой и вытянутый подбородок, маленький лоб, густые, <br>
        скошенные вниз брови и тонкие, едва заметные губы. Все эти черты выражают сильный характер и несёт обманчивый <br>
        образ "бескорыстного героя", однако по истории мы узнаём совершенно иную личность, скрывающуюся за обликом героя.</p>
	<p>Но, а что можно рассказать о положительных героях? В то время, как в образах злодеев, как правило большая часть <br>
        относятся к представителям квадратной и треугольной формы. У положительных героев также отслеживается шаблон восприятия<br>
        , где в основном их изображают с овальным и круглым лицом, с большими округлыми глазами, не большим подбородком и такой <br>
        образ открывает нам героя, как доброго, открытого, обаятельного и эмпатичного.</p>
    <img src="{% static 'svg/5f5622457ed0ee001e25dca4.svg' %}" alt="Li Shing" class="left">
    <p>Возьмём пример из мультфильма "Мулан" замечательный работа с яркими персонажами, в нём мы рассмотрим одного<br>
        из героев, а именно Капитан Ли Шанг. Данный персонаж имеет ярко выраженный подбородок и овальную форму лица<br>
        которые говорят нам о доблести данного персонажа и силе характера.</p>
	<p>Все персонажи отличаются друг от друга, однако почти все произведения имеют общие черты во внешности <br>
        положительных и отрицательных героях, является ли это совпадением или устоявшимися шаблоном?<br>
	Может всё-таки действительно черты лица героев влияют на наше восприятие?</p>
	<p>Давайте попробуем выполнить небольшое задание! Ниже представлены некоторые известные персонажи.</p>
    <img src="{% static 'svg/1647426763_c81e728d9d4c2f636f067f89cc14862c.svg' %}" alt="Li Shing" class="center">
    <img src="{% static 'svg/d0ffa854ea8992c575ac403553.svg' %}" alt="Li Shing" class="center">
	<p>Напишите в комментариях своё мнение о лицах на картинках, какое впечатление на вас оказывают, какими характеристиками вы бы их наделили?</p>
	<p>Нам было приятно поделиться с вами новой информацией, не забываем про обратную связь, нам она очень важна и до новых встреч!)</p>
	<p>Спасибо за внимание, оставляйте своё мнение в комментариях!)</p>
    </div>
    <div id="disqus_thread"></div>
    {% endblock %}

