.menu {
	display: flex;
    height: auto;
    width: 100%;
    background-color: #666;
    list-style: none;
	position: 0;
	padding-left: 0;
  }
  .menu a {
    display: block;
	padding: 10px;
    color: #fff;
    border-bottom: 1px solid darkblue;
    transition: 0.5s all;
    text-decoration: none;
  }
.menu a:hover { 
  background: rgb(221, 12, 12); 
  padding: 10px 0 10px 20px
}
.menu_list{
  position: relative;
}
.sub{
background-color: #666;
position: absolute;
width: 100%;
top: 100%;
opacity: 0;
transition: 0.5s opacity;
list-style: none;
padding-left: 0;
}
.menu_list:hover .sub {opacity: 1 ;}

@media screen and (max-width: 1000px) {
.menu {
	flex-direction: column;
	height: auto;
	width: 200px;
	background-color: #666;
	list-style: none;
	}
.menu a {
	display: block;
	padding: 10px;
	color: #fff;
	border-bottom: 1px solid darkblue;
	transition: 0.5s all;
	text-decoration: none;
	}
.menu a:hover { 
	background: rgb(221, 12, 12); 
	padding: 10px 0 10px 20px
}
.menu_list{
	position: relative;
}
.sub{
background-color: #666;
position: absolute;
width: 100%;
left: 100%;
top: 0;
opacity: 0;
transition: 0.5s opacity;
list-style: none;
border-left: 10px solid cornsilk;
}
.menu_list:hover .sub {opacity: 1 ;}
}