@import url('https://fonts.googleapis.com/css2? family= Bad+Script & display=swap');

h3 {
    font-family: 'Bad Script', cursive;
    font-size: 12pt;
}
article {
    font-family: 'Bad Script', cursive;
    font-size: 12pt;
}
p {
    text-indent: 20px;
   }