{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Panel.css' %}">
  {% block styles %} {% endblock %}
</head>
<body>
  <nav>
    <ul class="menu">
      <li class="menu_list"><a href="{% url 'hello' %}">Главная</a></li>
      <li class="menu_list"><a href="{% url 'fiziognomika' %}">Физиогномике</a>
         <ul class="sub">
          <li><a href="{% url 'celebrities' %}">Знаменитости</a></li>
          <li><a href="{% url 'faceParsing' %}">Разбор лиц</a></li>
           <li><a href="{% url 'SDinteresting12' %}">Интересное</a></li>
        </ul>
      </li>
      <li class="menu_list"><a href="{% url 'astrology' %}">Астрология</a>
        <ul class="sub">
          <li><a href="{% url 'zodiac_signs' %}">Знаки зодиака</a></li>
          <li><a href="{% url 'home' %}">Дома</a></li>
          <li><a href="{% url 'asc_ds' %}">Asc/Ds</a></li>
          <li><a href="{% url 'lilith_selena' %}">Лилит и Селена</a></li>
          <li><a href="{% url 'natal_chart' %}">Натальная карта</a></li>
          <li><a href="{% url 'synastry' %}">Синастрия</a></li>
          <li><a href="{% url 'solar' %}">Соляр</a></li>
        </ul>
      </li>
      <li class="menu_list"><a href="{% url 'graphology' %}">Графология</a>
        <ul class="sub">
          <li><a href="{% url 'story' %}">История</a></li>
          <li><a href="{% url 'incline' %}">Наклон</a></li>
          <li><a href="{% url 'location' %}">Расположение</a></li>
          <li><a href="{% url 'signature' %}">Подпись</a></li>
          <li><a href="{% url 'interestingS' %}">Интересное</a></li>
        </ul>
      </li>
      <li class="menu_list"><a href="{% url 'numerology' %}">Нумерология</a>
        <ul class="sub">
          <li><a href="{% url 'map' %}">Расчёт карты</a></li>
          <li><a href="{% url 'destiny' %}">Число судьбы</a></li>
          <li><a href="{% url 'numbers' %}">Значение чисел</a></li>
          <li><a href="{% url 'sectors_and_codes' %}">Сектора и коды</a></li>
        </ul>
      </li>
      <li class="menu_list"><a href="{% url 'parsing_order' %}">Заказ разбора</a></li>
      <li class="menu_list"><a href="{% url 'feedback' %}">Обратная связь</a></li>
    </ul>
  </nav>
 <div class="auth-block">
{% if user.is_authenticated %}
    <p>Добро пожаловать, {{ user.username }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'hello' %}">
        <button type="submit">Выйти</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Войти</a>
{% endif %}
</div>
<div class="icons">
  <a href="https://t.me/PhysioGnomySBOT">
    <img src="https://img.icons8.com/3d-fluency/94/null/telegram.png" alt="Telegram" class="telegram">
  </a>
  <a href="https://www.instagram.com/lit_ray24/">
    <img src="https://img.icons8.com/3d-fluency/94/null/instagram-new.png" class="instagram">
  </a>
</div>
  {% block content %}
  {% endblock %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Адрес</h3>
        <p>Улица космическая, дом Космонавтов</p>
      </div>
      <div class="col-md-6">
        <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/potw2122a.jpg" alt="Космиос" width="20%">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Контакты</h3>
        <p>Телефон: Мы на телепатии<br>
        Электронная почта: info@fizion.com</p>
      </div>
    </div>
  </div>
</footer>
  </body>
  </html>